* {
    box-sizing: border-box;
}
img{
max-width: 100%;
height: auto;
text-align:center;
}
.auto-adjust
{
height: auto;
text-align:center;
border-radius:5px;
position: relative;
}
.container
{
padding-top:40px;	
top: 0px;
left: 15%;
width: 70%;
color:#fff;
background-color:#a18c72;
}
.img-container
{
padding:5px;	
left: 5%;
width: 90%;
height: auto;
color:#000;
text-align:left;
background-color:#f5d5ae;
}
.container2
{
padding:5px;
width:60%;
background-color:#f5d5ae;
border:15.0px solid #f5d5ae;
margin: 5% 20%;
}
body{
text-align:center;
background:#4c4236;
}
.left
{
padding-top:10px;
text-align:left;
}
p{
margin: 20px;
}
b{
font-family:Sans;
font-size:14px;
}
.text-title
{
font-family:Sans;
font-size:50px;
color:#f5d5ae;
}
.textem-title
{
font-family:Sans;
font-size:25px;
color:#f5d5ae;
}
.text-img
{
font-family:Sans;
font-size:12px;
color:#4a4035;
}
h2
{
font-family:Sans;
font-size:18px;
color:#4a4035;
}
li
{
text-align:left;
font-family:Sans;
font-size:10px;
color:#4a4035;
}
blockquote
{
text-align:left;
border-style: dashed;
border-width: 0px 0px 0px 1px;
margin: 5px 30% 5px 30%;
padding: 10px 10px 10px 10px;
font-style:oblique;
}
cite
{
font-size:12px;
font-style:oblique;
}
a:link{
color:#4a4035;
}
a:hover{
color:#4a4035;
}
a:visited {
color:#4a4035;
}
